@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");


.container {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    height : 40px;
    background-color: aliceblue;
    border-bottom : 2px solid #e6eaea;
}

.task_list{
    overflow : hidden;
    line-height: 2.3;
    text-align: center;
}

.task_name {
    flex-basis : 25%;
}

.task_desc {
    flex-basis : 50%;
}

.apply_button {
    flex-basis : 25%;
}

.button_detail {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    background-color : white;
    color: black;
    border: 0;
    width: 90%;
    height: 90%;
    vertical-align: middle;
}


