@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");


.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.task_list {
    font-family: "Noto Sans KR", sans-serif;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: auto;
    width: 70%;
    height: 60%;
}

.task_list::-webkit-scrollbar {
    width: 16px;
  }

.task_list::-webkit-scrollbar-thumb {
    background-color: rgb(202, 202, 202);
}
.task_list::-webkit-scrollbar-track {
    background-color: rgb(233, 233, 233);
    border: 1px solid black;

}