.main_container {
  height: 100%;
  margin: 0px;
  background-color: white;
  position: relative;
  height: 70px;
  border-bottom: 2px solid #e6eaea;
  width: 100%;
}

body {
  margin: 0px;
}

/* 위 스타일은 건드리지 마세여 */ 
